<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.march.main.dao.ExamQuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.march.main.entity.ExamQuestion">
        <id column="id" property="id" />
        <result column="exam_id" property="examId" />
        <result column="question_id" property="questionId" />
    </resultMap>

    <select id="sortByTypeId" resultType="java.lang.Integer">
SELECT
	q.question_id
FROM
	exam_question eq
LEFT JOIN question q ON eq.question_id = q.question_id
WHERE
	eq.exam_id = #{id}
AND q.question_type_id = #{i}
ORDER BY
	eq.id
    </select>

</mapper>
