<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.march.main.dao.QuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.march.main.entity.Question">
        <id column="question_id" property="questionId"/>
        <result column="question_name" property="questionName"/>
        <result column="question_score" property="questionScore"/>
        <result column="question_type_id" property="questionTypeId"/>
        <result column="question_category_id" property="questionCategoryId"/>
    </resultMap>

    <select id="getOptAnswerById" resultType="java.lang.Integer">
SELECT
	qo.idx
FROM
	question_option qo
WHERE
	qo.question_id = #{id}
AND qo.answer = 1
ORDER BY
	qo.idx
    </select>

    <select id="getOptionDetailById" resultType="com.march.main.vo.OptionContentVo">
SELECT
	qo.content,
	qo.idx,
	qo.answer
FROM
	question_option qo
WHERE
	qo.question_id= #{id}
ORDER BY
	qo.idx
    </select>

    <select id="getOpsListById" resultType="com.march.main.vo.QuestionOptionVo">
        SELECT
        q.question_id,
        q.question_name,
        q.question_score,
        qt.question_type_name,
        qc.question_category_name
        FROM
        question q
        LEFT JOIN question_type qt ON qt.question_type_id = q.question_type_id
        LEFT JOIN question_category qc ON qc.question_category_id = q.question_category_id
        <where>
            <if test="categoryId!=null">
                and q.question_category_id = #{categoryId}
            </if>
            <if test="typeId!=null">
                and q.question_type_id = #{typeId}
            </if>
        </where>
        ORDER BY
        q.question_id
    </select>

    <select id="getOthersListById" resultType="com.march.main.vo.QuestionAnswerVo">
        SELECT
        q.question_id,
        q.question_name,
        qa.answer,
        q.question_score,
        qt.question_type_name,
        qc.question_category_name
        FROM
        question q
        LEFT JOIN question_type qt ON qt.question_type_id = q.question_type_id
        LEFT JOIN question_category qc ON qc.question_category_id = q.question_category_id
        LEFT JOIN question_answer qa ON qa.question_id = q.question_id
        <where>
            <if test="categoryId!=null">
                and q.question_category_id = #{categoryId}
            </if>
            <if test="typeId!=null">
                and q.question_type_id = #{typeId}
            </if>
        </where>
        ORDER BY q.question_id
    </select>
</mapper>
