<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.march.dao.QuestionCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.march.entity.QuestionCategory">
        <id column="question_category_id" property="questionCategoryId" />
        <result column="question_category_name" property="questionCategoryName" />
    </resultMap>

</mapper>
